meta(charset="utf-8")

title "Натяжные потолки Симферополь – Grand Comfort"
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="referrer" content="no-referrer")
base(href="/")

link(rel="manifest" type="application/manifest+json" href=require('../../manifest.webmanifest'))
link(rel="shortcut icon" type="image/x-icon" sizes="16x16" href=require('../../icons/favicon.ico'))
link(rel="icon" type="image/x-icon" sizes="16x16" href=require('../../icons/favicon.ico'))
link(rel="icon" type="image/png" sizes="16x16" href=require('../../icons/favicon-16x16.png'))
link(rel="icon" type="image/png" sizes="32x32" href=require('../../icons/favicon-32x32.png'))
link(rel="icon" type="image/svg+xml" sizes="any" href=require('../../icons/mask-icon.svg'))
link(rel="apple-touch-icon" type="image/png" sizes="180x180" href=require('../../icons/apple-touch-icon-180x180.png'))

meta(name="msapplication-TileColor", content="#fee25f")
meta(name="msapplication-TileImage", content=require('../../icons/ms-icon-144x144.png'))

meta(name="theme-color" content="#fee25f")

meta(name="mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-title" content="Потолки")

link(rel="dns-prefetch" href="https://fonts.googleapis.com")
link(rel="dns-prefetch" href="https://fonts.gstatic.com")
link(rel="dns-prefetch" href="https://www.google.com")
link(rel="dns-prefetch" href="https://www.google-analytics.com")
link(rel="dns-prefetch" href="https://www.googletagmanager.com")
link(rel="dns-prefetch" href="https://maps.googleapis.com")
link(rel="dns-prefetch" href="https://maps.gstatic.com")

link(rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300.400,500,600,700,800,900&display=swap&subset=cyrillic" as="style" media="all" onload="this.onload=null;this.rel='stylesheet'")
link(rel="preload" href=require('../../fonts/Linearicons.ttf') as="font" type="font/ttf" media="all" crossorigin)
link(rel="preload" href="/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
link(rel="preload" href="/bundle.js" as="script")
link(rel="preload" href="/service-worker.js" as="script")

link(rel="preload" type="image/x-icon" href=require('../../svg/logo.svg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/slide1.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/slide2.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/textures1.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/textures2.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/textures3.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/textures4.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/textures5.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/close.png') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/2yr/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/bezsh/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/contr/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/double/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/line/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/par/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/photo/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/pk5/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/polu/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/ppoz/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/ten/0.jpg') as="image")
link(rel="preload" type="image/jpg" href=require('../../img/tkan/0.jpg') as="image")